<header class="site-header" role="banner">

    <div class="wrapper header-menu hide-scrollbar-menu">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <a class="site-title" href="{{ "/" | relative_url }}">
        <img class="site-logo" src="/favicon.png">
      </a>
      {%- if page_paths -%}
        <div class="menu top-menu"> 
          <a class="page-link" href="/courses/">Все курсы</a>
          <a class="page-link" href="/courses/spec/">Калькулятор ЗЕ</a>
          <a class="page-link" href="/calendar">Календарь</a>
          <a class="page-link" href="/about">О нас</a>
        </div>
      {%- endif -%}
    </div>
  </header>