---
---

@import "minima";

.site-header {
    border-top: 5px solid #3050a0;
    background-color: white;
    position: sticky;
    z-index: 2;
    top: 0;
}

.scroll-hint {
    position: relative;
    left: calc(100% - 120px);
    top: -80px;
    color: lightgray;
}

.hide-scrollbar-menu {
    height: 56px;
    overflow: hidden;
}

.menu { 
    white-space: nowrap; 
    overflow-x: auto;
    display: flex;
}

.site-logo {
    width: 44px;
    height: 44px;
    position: relative;
    top: -2px;
}

.header-menu {
    padding: 0;
}

.menu .page-link,
.site-title {
    border-bottom: 2px solid transparent;
    padding: 0 22px;
}

.menu .page-link {
    color: black;
    flex: auto;
    text-align: center;
    line-height: 54px;
}

.scroll-hide {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    transition: transform 200ms linear;
    will-change: transform;

    z-index: 1;
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    align-self: center;
    width: 100%;
    background: #fdfdfd;
}

.scroll-hide.open {
    -webkit-transform: translateY(62px);
    transform: translateY(62px);
    transition: transform 200ms linear;
}

.site-title:focus,
.site-title:hover,
.site-title.selected,
.menu .page-link:hover,
.menu .page-link.selected,
.menu .page-link:focus {
    border-bottom: 2px solid #3050a0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.blockquote {
    font-style: normal;
}

.page-content {
    padding-top: 72px;
}

hr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #e8e8e8;
    margin-bottom: 10px;
}

li > p {
    margin-bottom: 0;
}

h1, h2 { margin-top: 30px; }
h2 { font-size: 28px; border-bottom: 1px solid #e8e8e8; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }

h1, h2, h3, h3 {
    margin-top: -72px;
    padding-top: 72px;
}
