---
layout: default
---
<style>
    h3 { text-decoration: underline; display: inline; }
    .menu .page-link.red { color: red; }
    .calc:hover, .calc:focus { border-bottom: 2px solid transparent; }
</style>

{{ content }}

<h2 id="блоки-и-курсы">Блоки и курсы</h2>
<div id="spec">
    <div class="5sem">
        <h2>5 семестр</h2>
        <label>
            <input class="3 course" type="checkbox" onchange="count()">
            <h3>Ассемблер</h3>
        </label>
        <ul>
            <li><strong>(3) Ассемблер</strong></li>
            <li>(3) Аппаратные средства вычислительной техники (6 семестр)</li>
        </ul>

        <label>
            <input class="2 course" type="checkbox" onchange="count()">
            <h3>Матроиды и графы</h3>
        </label>
        <ul>
            <li><strong>(2) Матроиды и графы</strong></li>
            <li>(2) Матроиды и графы (6 семестр)</li>
        </ul>

        <label>
            <input class="3 course" type="checkbox" onchange="count()">
            <h3>Функциональный анализ</h3>
        </label>
        <ul>
            <li><strong>(3) Функциональный анализ</strong></li>
            <li>(3) Теория функций комплексного переменного (6 семестр)</li>
        </ul>

        <label>
            <input class="3 course" type="checkbox" onchange="count()">
            <h3>Диффуры</h3>
        </label>
        <ul>
            <li><strong>(3) Разностные уравнения</strong></li>
        </ul>

        <label>
            <input class="2 course" type="checkbox" onchange="count()">
            <h3>Автоматы</h3>
        </label>
        <ul>
            <li><strong>(2) Автоматы и логика на бесконечных последовательностях</strong></li>
            <li>(2) Автоматы и логика на бесконечных последовательностях(6 семестр)</li>
        </ul>

        <label>
            <input class="3 course" type="checkbox"  onchange="count()">
            <h3>WEB и DHTML</h3>
        </label>
        <ul>
            <li><strong>(3) WEB и DHTML</strong></li>
        </ul>

        <label>
            <input class="6 course" type="checkbox" onchange="count()">
            <h3>Основы КБ</h3>
        </label>
        <ul>
            <li><strong>(6) Хакердом</strong></li>
        </ul>

        <label>
            <input class="0 course" type="checkbox" onchange="count()">
            <h3>Практикум КБ</h3>
        </label>
        <ul>
            <li>(6) Хакердом (6 семестр)</li>
        </ul>

        <label>
            <input class="3 course" type="checkbox" onchange="count()">
            <h3>Спортивное програмирование</h3>
        </label>
        <ul>
            <li><strong>(3) АСМ</strong></li>
            <li>(3) АСМ (6 семестр)</li>
        </ul>

        <hr>

        <label>
            <input class="3 course" type="checkbox" onchange="count()">
            <h3>Основы робототехники</h3>
        </label>
        <ul>
            <li><strong>(3) Air Lab: Основы робототехники</strong></li>
            <li>(3) Air Lab: Основы робототехники (6 семестр)</li>
        </ul>

        <label>
            <input class="0 course" type="checkbox" onchange="count()">
            <h3>Школа промышленной разработки</h3>
        </label>
        <ul>
            <li><strong>(0) Контур: ШПоРа</strong></li>
            <li>(3) Контур: ШПоРа (6 семестр)</li>
        </ul>

        <label>
            <input class="3 course" type="checkbox" onchange="count()">
            <h3>Научные выступления</h3>
        </label>
        <ul>
            <li><strong>(3) Контур: Научные выступления</strong></li>
        </ul>

        <label>
            <input class="3 course" type="checkbox" onchange="count()">
            <h3>Курс Интернет вещей</h3>
        </label>
        <ul>
            <li><strong>(3) Samsung: IoT Академия</strong></li>
        </ul>

        <label>
            <input class="4 course" type="checkbox" onchange="count()">
            <h3>Мобильная разработка</h3>
        </label>
        <p>Ведётся в 6 семестре, баллы идут в 5-ый.</p>
        <ul>
            <li><strong>(2) Яндекс: Android</strong></li>
            <li><strong>(2) Яндекс: iOS</strong></li>
        </ul>

        <label>
            <input class="6 course" type="checkbox" onchange="count()">
            <h3>Веб-приложения</h3>
        </label>
        <ul>
            <li><strong>(3) Яндекс: вёрстка</strong></li>
            <li><strong>(3) Яндекс: JavaScript</strong></li>
        </ul>
    </div>
</div>

<script>
    document.getElementsByClassName("scroll-hide")[0].innerHTML = `
        <div class="menu">
            <span id="5sem" class="page-link calc">5 семестр: <span id="5semMy">0</span>/<span id="5semGoal">16</span></span>
            <span id="6sem" class="page-link calc">6 семестр: <span id="6semMy">0</span>/<span id="6semGoal">11</span></span>
            <span id="7sem" class="page-link calc">7 семестр: <span id="7semMy">0</span>/<span id="7semGoal">0</span></span>
            <span id="8sem" class="page-link calc">8 семестр: <span id="8semMy">0</span>/<span id="8semGoal">0</span></span>
        </div>`;
</script>
<script>    
    function count(checkbox, number) {
        document.getElementsByClassName("scroll-hide")[0].className = "wrapper scroll-hide open hide-scrollbar-menu";

        var semClicked = 0;

        document.getElementById("spec").childNodes.forEach(div => {
            var id = div.className;
            if (id) {
                var labels =  div.getElementsByTagName("label")
                var count = 0;

                for (var i = 0; i < labels.length; i++) {
                    labels[i].childNodes.forEach(check => {
                        if (check === checkbox) semClicked = id;
                        if (check.checked) count += parseInt(check.className[0]);
                    });
                };

                document.getElementById(id + "My").innerHTML = count;
            }
        });

        document.getElementById(semClicked).className = 
            count < parseInt(document.getElementById(semClicked + "Goal").innerHTML)
            ? text.className = "page-link calc red"
            : text.className = "page-link calc";
    }
</script>